*{
    font: normal 15pt Arial;
    text-align: center;
    margin-top: 10px;
    padding: 0;
}
body{
    background: rgba(70, 142, 236, 0.582);
}



section {
    background: rgba(255, 255, 255, 0.822);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto ;
    box-shadow:  1px 4px 10px rgba(0, 0, 0, 0.36);
    margin-top: 200px;

}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}
.botao{
    border: none;
    border-radius: 5px;
    box-shadow:  1px 4px 10px rgba(0, 0, 0, 0.36) ;
    background: rgb(70, 142, 236);
    height: 50px;
    padding: 15px;
}
input#num {
    background-color: rgba(70, 142, 236, 0.212);
    border: none;
    border-radius: 5px;
    box-shadow:  1px 4px 10px rgba(0, 0, 0, 0.36) ;
    text-align: center;
    font-weight: 700;
    height: 50px;
    margin-left: 0px;
    
    
}
.botao:hover{
    opacity: 0.8;
    cursor: pointer;
    
}

div#numSort{
    padding: 0;
    margin: 15px;
    font-style: italic;
}
